
<% include partials/header %>
<h1> Home Page! </h1>

<p> Checkout some of the discoveries(Physicsgrounds) that might make Quantum Future a Reality! </p>
<a href="/physicsgrounds"> View All Physicsgrounds </a>
<% include partials/footer %>
